<section id="contactMe">
  <div class="container">
    <div class="contact_layout">
      <div class="contact_intro">
        <h3 class="contact_subtitle">{{ "CONTACT-FORM.SUB_TITLE" | translate }}</h3>
        <h1 class="contact_title">{{ "CONTACT-FORM.TITLE" | translate }}</h1>
        <h3 class="contact_subtitle">{{ "CONTACT-FORM.DESCRIPTION_TITLE" | translate }}</h3>
        <p class="contact_description">
          {{ "CONTACT-FORM.DESCRIPTION" | translate }}
          <br>
          <br>
          {{ "CONTACT-FORM.DESCRIPTION_CTA" | translate }} 
          <span>{{ "CONTACT-FORM.DESCRIPTION_CTA_TALK" | translate }}</span>
        </p>
      </div>

      <form class="contact_form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="input_group">
          <div class="input_info">
            <label for="name">{{ "CONTACT-FORM.NAME_LABEL" | translate }}</label>
          </div>
          <div class="input_field">
            <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" [placeholder]="'CONTACT-FORM.NAME_INPUT_PLACEHOLDER' | translate" required/>
            @if (!name.valid && name.touched && !name.disabled) {
              <span>Please enter your name</span>
            }
          </div>
        </div>

        <div class="input_group">
          <div class="input_info">
            <label for="email">{{ "CONTACT-FORM.EMAIL_LABEL" | translate }}</label>
          </div>
          <div class="input_field">
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" [placeholder]="'CONTACT-FORM.EMAIL_INPUT_PLACEHOLDER' | translate" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required/>
            @if (!email.valid && email.touched && !email.disabled) {
              <span>Please enter a valid email</span>
            }
          </div>
        </div>  

        <div class="input_group">
          <div class="input_info">
            <label for="message">{{ "CONTACT-FORM.MESSAGE_LABEL" | translate }}</label>
          </div>
          <div class="input_field">
            <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message" [placeholder]="'CONTACT-FORM.MESSAGE_INPUT_PLACEHOLDER' | translate" rows="4" required></textarea>
            @if (!message.valid && message.touched && !message.disabled) {
              <span>Please enter a message</span>
            }
          </div>
        </div>

        <div class="form_footer">
          <div class="privacy_policy">
            <input type="checkbox" id="privacy" />
            <label for="privacy"></label>
            <div>
              {{ "CONTACT-FORM.PRIVACY_POLICY_TEXT" | translate }}
              <a routerLink="/privacy">  
                <span>{{ "CONTACT-FORM.PRIVACY_POLICY" | translate }}</span>
              </a>
              {{ "CONTACT-FORM.PRIVACY_POLICY_TEXT1" | translate }}
            </div>
          </div>

          <div class="submit_container">
            <button type="submit" value="Submit" class="submit_btn btn">{{ "CONTACT-FORM.SUBMIT_BUTTON" | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>