<section id="skills">
  <div class="container">
    <h3 class="section_subtitle">{{ "SKILLS.SUB_TITLE" | translate }}</h3>
    <div class="skills_layout">
      <div class="skills_left">
        <div class="content_box">
          <div class="skill_title">
            <h1>{{ "SKILLS.TITLE" | translate }}</h1>
          </div>
          <div class="skill_description">
            <p>{{ "SKILLS.DESCRIPTION" | translate }}</p>
          </div>
          <div class="skill_cta">
            <h2>{{ "SKILLS.CTA" | translate }} <span>{{ "SKILLS.CTA_SKILL" | translate }}</span></h2>
            <p>{{ "SKILLS.CONTACT_ME" | translate }}</p>
            <button class="btn">{{ "SKILLS.CTA_BUTTON" | translate}}</button>
          </div>
        </div>
      </div>
      <div class="skills_right">
        <div class="skills_grid">
          @for (skill of skills; track skill.name) {
          <div class="skill_item" [class.has-tooltip]="skill.name === 'Growth mindset'">
            <div class="skill_icon">
              <img [src]="skill.icon" [alt]="skill.name">
            </div>
            <span class="skill_name">{{ skill.name }}</span>

            @if (skill.name === 'Growth mindset') {
            <div class="skill_tooltip">
              <p class="tooltip_text"> {{ "SKILLS.TOOLTIP" | translate }}</p>
              <div class="tooltip_assets">
                <div class="asset_item">
                  <img src="assets/img/skills/frontend/react.png" alt="React">
                  <span>React</span>
                </div>
                <div class="asset_item">
                  <img src="assets/img/skills/frontend/vue.js.png" alt="Vue Js">
                  <span>Vue.js</span>
                </div>
              </div>
              <div class="tooltip_arrow"></div>
            </div>
            }
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>