<section id="privacy-policy">
  <div class="container">
    <div class="privacy_header">
      <h1 class="privacy_title">{{ "PRIVACY.HEADLINE" | translate }}</h1>
    </div>

    <div class="privacy_content">
      <h2>{{ "PRIVACY.SECTION_1.TITLE" | translate }}</h2>
      <h3>{{ "PRIVACY.SECTION_1.SUB_1" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_1.P_1" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_1.SUB_2" | translate }}</h3>
      <h4>{{ "PRIVACY.SECTION_1.Q_1" | translate }}</h4>
      <p>{{ "PRIVACY.SECTION_1.A_1" | translate }}</p>

      <h4>{{ "PRIVACY.SECTION_1.Q_2" | translate }}</h4>
      <p>{{ "PRIVACY.SECTION_1.A_2_1" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_1.A_2_2" | translate }}</p>

      <h4>{{ "PRIVACY.SECTION_1.Q_3" | translate }}</h4>
      <p>{{ "PRIVACY.SECTION_1.A_3" | translate }}</p>

      <h4>{{ "PRIVACY.SECTION_1.Q_4" | translate }}</h4>
      <p>{{ "PRIVACY.SECTION_1.A_4_1" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_1.A_4_2" | translate }}</p>

      <h2>{{ "PRIVACY.SECTION_2.TITLE" | translate }}</h2>
      <p>{{ "PRIVACY.SECTION_2.P_1" | translate }}</p>
      <h3>{{ "PRIVACY.SECTION_2.SUB_1" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_2.P_2" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_2.P_3" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_2.SUB_2" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_2.P_4" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_2.P_5" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_2.SUB_3" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_2.P_6" | translate }}</p>

      <h2>{{ "PRIVACY.SECTION_3.TITLE" | translate }}</h2>
      <h3>{{ "PRIVACY.SECTION_3.SUB_1" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_1" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_3.P_2" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_3.P_3" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_2" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_4" | translate }}</p>
      <p [innerHTML]="'PRIVACY.SECTION_3.P_5' | translate"></p>
      <p [innerHTML]="'PRIVACY.SECTION_3.P_6' | translate"></p>
      <p>{{ "PRIVACY.SECTION_3.P_7" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_3" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_8" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_4" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_9" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_5" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_10" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_6" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_11" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_7" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_12" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_3.P_13" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_8" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_14" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_9" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_15" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_10" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_16" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_11" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_17" | translate }}</p>
      <ul>
        <li>{{ "PRIVACY.SECTION_3.LI_1" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_3.LI_2" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_3.LI_3" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_3.LI_4" | translate }}</li>
      </ul>
      <p>{{ "PRIVACY.SECTION_3.P_18" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_12" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_19" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_3.P_20" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_3.SUB_13" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_3.P_21" | translate }}</p>

      <h2>{{ "PRIVACY.SECTION_4.TITLE" | translate }}</h2>
      <h3>{{ "PRIVACY.SECTION_4.SUB_1" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_4.P_1" | translate }}</p>
      <ul>
        <li>{{ "PRIVACY.SECTION_4.LI_1" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_4.LI_2" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_4.LI_3" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_4.LI_4" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_4.LI_5" | translate }}</li>
        <li>{{ "PRIVACY.SECTION_4.LI_6" | translate }}</li>
      </ul>
      <p>{{ "PRIVACY.SECTION_4.P_2" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_4.SUB_2" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_4.P_3" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_4.P_4" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_4.P_5" | translate }}</p>

      <h3>{{ "PRIVACY.SECTION_4.SUB_3" | translate }}</h3>
      <p>{{ "PRIVACY.SECTION_4.P_6" | translate }}</p>
      <p>{{ "PRIVACY.SECTION_4.P_7" | translate }}</p>
    </div>
  </div>
</section>