<section id="legal-notice">
  <div class="container">
    <h1 class="imprint_title">{{ "IMPRINT.HEADLINE" | translate }}</h1>

    <div class="imprint_content">
      <div class="imprint_group">
        <h2>{{ "IMPRINT.TITLE" | translate }}</h2>
        <p>Lucas Graf <br>
          Weißestraße 36 <br>
          04299 Leipzig
        </p>
      </div>

      <div class="imprint_group">
        <h2>{{ "IMPRINT.CONTACT" | translate }}</h2>
        <p>Telefon: +49 170 1251262 <br>
          E-Mail: contact@lucasgraf.com
        </p>
      </div>
    </div>
  </div>
</section>