@use '../../../../styles/variables' as *;

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  
  .header_left {
    @include flex-center();
    gap: 24px;
  }

  nav {
    display: flex;
    gap: 24px;

    a {
      font-size: 1.5rem;
      color: $color-light-gray;
      text-decoration: none;

      &:hover {
        color: $color-accent;
      }
    }
  }
}

.hover_shadow {
  display: inline-block;
  position: relative;
  transition-duration: $defaultDuration;
  transition-property: transform, color;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(
      ellipse at center,
      rgba($color-accent, .35) 0%,
      rgba($color-accent, 0) 80%
    );
    transition-duration: $defaultDuration;
    transition-property: transform, opacity;
  }

  &:hover {
    color: $color-accent;
    transform: translateY(-6px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: $defaultDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &::before {
      opacity: .4;
      transform: translateY(6px);
      animation-name: hover_shadow;
      animation-duration: 1.5s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes hover {
  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(-6px);
  }
}

@keyframes hover_shadow {
  0% {
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    transform: translateY(6px);
    opacity: .4;
  }
}