@use '../../../../styles/variables' as *;

section {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: $color-bg-dark;
  padding: 120px 0 60px 0;

  .container {
    justify-content: center;
  }

  .about_content_layout {
    @include flex-between(row, center, 120px);
    width: 100%;
    height: auto;

    @media (max-width: 1024px) {
      gap: 48px;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      text-align: center;
    }
  }

  @media (max-width: 800px) {
    padding: 80px 0 40px 0;
  }
}

.profile_image_wrapper {
  position: relative;
  flex: 1;
  max-width: 400px;
  display: flex;

  .profile_picture {
    width: 100%;
    height: auto;
    border-radius: 40px;
    z-index: 2;
    object-fit: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

    @media (max-width: 800px) {
      border-radius: 32px;
    }
  }

  .background_lines {
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    width: 110%;
    height: auto;
    opacity: 0.5;
    pointer-events: none;
  }

  @media (max-width: 800px) {
    max-width: 280px;
  }
}

.about_text_wrapper {
  flex: 1.2;
  @include flex-column(24px);

  .section_title {
    font-family: $font-fira;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-accent;
  }

  .content_box {
    @include flex-column(32px);
    @include glass-panel();

    .about_title {
      h1 {
        @include section-title-styles();
        font-family: $font-fira;
      }
    }

    .about_description {
      p {
        line-height: 1.5;
        text-align: start;
      }
    }

    .about_info {
      .info_list {
        @include flex-column(16px);

        .info_item {
          @include flex-start(row, center, 16px);

          .icon_wrapper {
            flex-shrink: 0;
            width: 32px;
            height: 32px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          p {
            color: $color-light-gray;
            line-height: 1.2;
            text-align: left;
          }
        }
      }

      @media (max-width: 800px) {
        @include flex-column(0, flex-start, center);
      }
    }

    @media (max-width: 450px) {
      padding: 24px 16px;
      gap: 24px;
    }
  }
}