<section id="aboutMe">
  <div class="container">
    <div class="about_content_layout">

      <div class="profile_image_wrapper">
        <img class="background_lines" src="assets/img/about-me/profile-img-bg.png" alt="Background decoration">
        <img class="profile_picture" src="assets/img/about-me/profile-img.jpg" alt="Lucas Graf Profile Picture">
      </div>

      <div class="about_text_wrapper">
        <h2 class="section_title">{{ 'ABOUT-ME.WHO_I_AM' | translate }}</h2>

        <div class="content_box">
          <div class="about_title">
            <h1>{{ 'ABOUT-ME.TITLE' | translate }}</h1>
          </div>

          <div class="about_description">
            <p>{{ 'ABOUT-ME.INTRO' | translate }}</p>
          </div>

          <div class="about_info">
            <ul class="info_list">
              <li class="info_item">
                <div class="icon_wrapper">
                  <img src="assets/img/about-me/cognition.png" alt="cognition icon">
                </div>
                <p>{{ 'ABOUT-ME.LEARNING' | translate }}</p>
              </li>

              <li class="info_item">
                <div class="icon_wrapper">
                  <img src="assets/img/about-me/quality.png" alt="quality icon">
                </div>
                <p>{{ 'ABOUT-ME.APPROACH' | translate }}</p>
              </li>

              <li class="info_item">
                <div class="icon_wrapper">
                  <img src="assets/img/about-me/location-on.png" alt="location icon">
                </div>
                <p>{{ 'ABOUT-ME.LOCATION' | translate }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>