@use '../../../../styles/variables' as *;

section {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.featured_projects_subtitle {
  color: $color-accent;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.featured_projects_header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  .featured_projects_title {
    font-family: $font-karla;
    font-size: 4rem;
    font-weight: 700;
    color: $color-accent;
  }

  .featured_projects_description {
    font-family: $font-karla;
    max-width: 600px;
    line-height: 1.2;
    color: white;
  }
}

// Project List Content
.featured_projects_content {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  .featured_projects_list_container {
    flex: 1;
  }
}

.featured_projects_list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba($color-accent, 0.4);

  .featured_project_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px;
    border-bottom: 1px solid rgba($color-accent, 0.4);
    cursor: pointer;
    transition: all $defaultDuration ease;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at 50% 50%, rgba($color-accent, 0.2) 0%, transparent 70%);
      opacity: 0;
      transition: opacity $defaultDuration ease;
      pointer-events: none;
    }

    &:hover,
    &.active {
      background-color: rgba($color-accent, 0.05);

      &::before {
        opacity: 1;
      }

      .featured_project_info h3 {
        color: $color-accent;
        transform: translateX(10px);

        .arrow {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }

    .featured_project_info {
      h3 {
        font-family: $font-karla;
        font-size: 2rem;
        font-weight: 600;
        transition: all $defaultDuration ease;
        display: flex;
        align-items: center;
        gap: 16px;

        .arrow {
          width: 24px;
          height: 24px;
          opacity: 0;
          transition: all $defaultDuration ease;
          display: inline-block;
          transform: translate(-5px, 5px);
        }
      }
    }

    .featured_project_tech {
      font-family: $font-fira;
      text-align: right;
    }
  }
}