@use '../../../../styles/variables' as *;

footer {
  background-color: $color-bg-dark;
  height: auto;
  padding: 24px 0;

  .container {
    @include flex-start(); 

    .footer_container {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      width: 100%;
      height: 126px;

      @media (max-width: 800px) {
        @include flex-column(32px, center, center); 
        height: auto;
        padding: 24px 0;
        text-align: center;
      }

      .logo_and_text {
        @include flex-column(); 
        justify-self: start;

        @media (max-width: 800px) {
          align-items: center;
          order: 1;
        }

        img {
          width: 200px;
          transition: filter 125ms ease-in-out;

          &:hover {
            filter: drop-shadow(0 0 2px white); 
          }
        }

        p {
          margin: 0 0 8px;

          @media (min-width: 801px) {
            margin: 0 8px 8px;
          }
        }
      }

      .copyright {
        justify-self: center;

        @media (max-width: 800px) {
          order: 3;
        }

        p {
          font-family: $font-fira;
          font-size: 1.25rem;
          color: $color-accent;
        }
      }

      .footer_links {
        @include flex-column(16px);
        justify-self: end;

        @media (max-width: 800px) {
          align-items: center;
          order: 2;
        }

        a {
          position: relative;
          cursor: pointer;
          transition: color 125ms ease-in-out, transform 125ms ease-in-out; 

          &:hover {
            color: $color-accent;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}