@use '../../../../styles/variables' as *;

footer {
  background-color: #1c1c1c;
  height: auto;
  padding: 24px 0; 

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .footer_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 126px;
      width: 100%;

      .logo_and_text {
        display: flex;
        flex-direction: column;

        img {
          width: 200px;
          transition: all 125ms ease-in-out;

          &:hover {
            filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1));
          }
        }

        p {
          color: rgba(255, 255, 255, 1);
          margin: 4px 0;
        }
      }

      .copyright {
        p {
          font-size: 1.25rem;
          color: $color-accent;
        }
      }

      .footer_links {
        display: flex;
        flex-direction: column;
        gap: 8px;

        a {
          position: relative;
          transition: all 125ms ease-in-out;
          cursor: pointer;

          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
}