<footer>
  <div class="container">
    <div class="footer_container">
      <div class="logo_and_text">
        <a routerLink="/" fragment="hero">
          <img src="assets/img/logo/logo.png" alt="logo">
        </a>
        <p>{{ 'FOOTER.DEVELOPER' | translate }}</p>
        <p>{{ 'FOOTER.LOCATION' | translate }}</p>
      </div>
      <div class="copyright">
        <p>&copy; Lucas Graf 2026</p>
      </div>
      <div class="footer_links">
        <a href="https://github.com/lucasxgraf" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/lucas-graf" target="_blank">LinkedIn</a>
        <a href="mailto:contact@lucasgraf.de">{{ 'FOOTER.EMAIL' | translate }}</a>
        <a routerLink="/imprint">{{ 'FOOTER.IMPRINT' | translate }}</a>
      </div>
    </div>
  </div>
</footer>
