/* karla-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../src/app/assets/fonts/karla-v33-latin-regular.woff2') format('woff2');
}
/* karla-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('../src/app/assets/fonts/karla-v33-latin-500.woff2') format('woff2');
}
/* karla-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('../src/app/assets/fonts/karla-v33-latin-600.woff2') format('woff2');
}
/* karla-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../src/app/assets/fonts/karla-v33-latin-700.woff2') format('woff2');
}
/* karla-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('../src/app/assets/fonts/karla-v33-latin-800.woff2') format('woff2');
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../src/app/assets/fonts/fira-code-v27-latin-regular.woff2') format('woff2');
}
/* fira-code-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('../src/app/assets/fonts/fira-code-v27-latin-500.woff2') format('woff2');
}
/* fira-code-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('../src/app/assets/fonts/fira-code-v27-latin-600.woff2') format('woff2');
}
/* fira-code-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('../src/app/assets/fonts/fira-code-v27-latin-700.woff2') format('woff2');
}